.module-container {
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
    justify-content: center;
}
.form-section {
    flex: 1 1 350px;
    padding: 25px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    height: fit-content; 
}
.form-section h1, .form-section hr {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.list-section {
    flex: 2 1 600px;
    padding: 25px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    overflow-x: auto;
}
.form-section label, 
.form-section input, 
.form-section textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    text-align: left;
}
.form-section input, .form-section textarea {
    margin-top: 5px;
    border: 1px solid #ccc;
}
textarea {
    resize: vertical;
    min-height: 80px;
}